/* CSS files add styling rules to your content */

body {
  font-family: Courier New, arial, sans-serif;
  margin: 2em;
  background-image: url("https://cdn.glitch.com/97db38e4-d1d2-4ef3-8dd0-65b688d9e940%2Fbgee.jpeg?v=1616215887798");
  background-size: auto;
  background-size:  cover;               
  background-repeat:   no-repeat;
  background-position: center center;   
  color:black;
  text-align:center;
}

h1 {
  font-family: verdana, arial, sans-serif; 
  color: black;
  text-align:center;
  
    
}


button{
  padding:10px;
  border-radius:10px;
  border: white;
  font-family:Courier New, arial, sans-serif;
  background-color:white;
}

#gameButtonArea > button {
  width:180px;
  height:180px;
  margin:4px;
  border:white;
  border-radius:50%;
  opacity:1;
  margin-top:50px;
}

.hidden {
  display: none;
}

.hiddenimg{
  visibility:hidden;
}

#button1 {
    background: lightgreen;
  img.visibility: visible;
}
#button1:hover {
    opacity:.8;
}

#button1:active, #button1.lit {
  background:green;
  opacity:1;
}

.button:active .hiddenimg{
  visibility:visible;
}

#button2 {
    background: lightblue;
}
#button2:hover {
  opacity:.8;
}

#button2:active, #button2.lit {
  background:blue;
  opacity:1;
  
}

#button3 {
  background: pink;
}

#button3:hover {
    opacity:.4;
}

#button3:active, #button3.lit {
  background:red;
  opacity:1;
}

#button4 {
    background: lightyellow;
}
#button4:hover {
    opacity:.7;
}

#button4:active, #button4.lit {
  background:yellow;
  opacity:1;
}

#button5 {
    background: lightgray;
}
#button5:hover {
    opacity:.7;
}
#button5:active, #button5.lit {
  background:gray;
  opacity:1;
}



#button6 {
    background: #FFA07A;
}
#button6:hover {
  opacity:.8;
}
#button6:active, #button6.lit {
  background:orange;
  opacity:1;
}

